<% include header.html %>
<div class="container">
    <form>
        <!--Default buttons with dropdown menu-->
        <br><br><br>.
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Select device new added: <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="/displayDevice">Air Condition</a></li>
                <li><a href="#">Televation</a></li>
                <li><a href="#">Lights</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>
    </form>
</div>
<% include footer.html %>