<% include header.html %>
<div class="container">
    <form>
        <img src="images/Test.png" class="img-circle" alt="Rounded Image">
        <span class="glyphicon glyphicon-search"></span>
    </form>
    <br><p><a href="/home" class="alert-link">Go Back...</p>
</div>
<% include footer.html %>