<div id='header'>
    <div class='hero-unit showcase'>
        <div class='container'>
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="block-field" data-updated-on="1373924362670" id="homepage-showcase-blocks">
                <div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-95a6f75a42b1f5fad0a7"><div class="sqs-block-content">
                    <h3 class="ac">Paratu智能插座，让生活变得更美好！</h3>
                    <div class="btn-play-container ac" style="margin-bottom: -33px">
                        <img alt="" width="940" height="454" src="/images/Paratu.jpg">
                        <!a class="btn-play fleetio-overview-video homepage-overview-video" title="Fleetio Overview Video (about a minute long)" href="http://www.youtube.com/watch?v=YO_7ahZP-qs">
                        <!i class="icon-youtube-play"><!/i>
                        <!/a>
                    </div></div></div></div></div></div>
        </div>
    </div>
</div>

<div id='content'>
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1383333777981" id="page-507ed8a6e4b0c61b499d190e"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-1d038398337805309141"><div class="sqs-block-content"><div class="section">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-truck icon-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Fleet Management Software</h3>
                            <p>Streamline fleet operations from anywhere with web-based software.</p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-wrench icon-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Online Maintenance Log</h3>
                            <p>Store detailed service records and upload repair documents.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-tint icon-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Fuel Tracking</h3>
                            <p>Quickly log fuel records and see automatic MPG calculations.</p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-calendar icon-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Maintenance Scheduling</h3>
                            <p>Ensure service activities are always on track with email reminders.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-bar-chart icon-3x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Powerful Reporting</h3>
                            <p>Measure and analyze fleet operations with easy-to-understand reports and analytics.</p>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="media">
                        <div class="pull-left span2 ac">
                            <i class="icon-mobile-phone icon-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Mobile Ready</h3>
                            <p>Access records and enter data on-the-go with Fleetio Mobile.</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="t-padded text-center">
                <a class="btn btn-primary btn-huge" href="/tour/">Take the Feature Tour
                    <i class="icon-hand-right"></i>
                </a>
            </p>
        </div>
    </div></div></div></div>
    </div></div></div>