<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1">
            <h2>提示</h2>
            <!hr class="colorgraph">
            <span class="glyphicon glyphicon-envelope label label-primary"></span><%- message %>
        </div>
    </div>
</div>

