<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form method="post">
                <h2>修改密码：</h2>
                <%- message %>
                <hr class="colorgraph">
                <div class="form-group">
                    <% if(user != undefined){%>
                    <input type="text" class="form-control input-lg" id="username" name="username" value="<%- user.name %>"
                           readonly>
                    <% } else { %>
                    <input type="text" class="form-control input-lg" id="username" name="username" placeholder="用户名">
                    <% } %>
                </div>

                <div id="password_group" class="form-group">
                    <input type="password" class="form-control input-lg" id="password" name="password"
                           placeholder="旧密码">
                </div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div id="pass_group" class="form-group">
                            <input type="password" class="form-control input-lg" id="new_password" name="new_password"
                                   placeholder="新密码">
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div id="pass_group2" class="form-group">
                            <input type="password" class="form-control input-lg" id="password_confirmation"
                                   name="password_confirmation"
                                   placeholder="重新输入新密码">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" id="btn_submit" disabled="disabled">修改密码</button>
                </div>
                <div id="chpasshints"></div>
            </form>
        </div>
    </div>
</div>
