</div>
<footer>
    <div id="footer" class="footer">
        <hr class="colorgraph">
        <div class='container'>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <h3 id="navigate">导航</h3>
                    <ul class="unstyled">
                        <li id="non-padding"><a href="/download">常用下载</a></li>
                        <li id="non-padding"><a href="/blog">最新动态</a></li>
                        <li id="non-padding"><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3 id="more">帮助</h3>
                    <ul class="unstyled">
                        <li><a href="/documents">文档中心</a></li>
                        <li><a href="/support">寻求支持</a></li>
                        <li><a href="/bug">提交问题</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 id="company">关于</h3>
                    <ul class="unstyled">
                        <li><a href="/about">关于我们</a></li>
                        <li><a href="/jobs">工作机会</a></li>
                        <li><a href="/contact">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-floor">
            <div class="container">
                <div>
                    <p class="text-center"> &copy; 2014 <a href="http://www.paratu.com">Paratu Co., Ltd.</a>版权所有
                    </p></div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
