<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Thing" lang="en-US" lang='en'>
<head>

    <title>Welcome to Paratu World!</title>
    <link rel="canonical" href="http://www.fleetio.com"/>

    <!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static.squarespace.com/static/sitecss/507ed8a6e4b0c61b499d1900/1/507ed8ade4b0c61b499d19fb/507ed8ade4b0c61b499d1a18/192/1349908913172/site.css?"/><![endif]-->
    <!--[if lt IE 9]><script src="//static.squarespace.com/universal/scripts-thirdparty/html5/html5-shiv.js"></script><link rel="stylesheet" type="text/css" href="//static.squarespace.com/static/sitecss/507ed8a6e4b0c61b499d1900/1/507ed8ade4b0c61b499d19fb/507ed8ade4b0c61b499d1a18/192/1349908913172/site.css?&noMedia=true"/><![endif]-->
    <!--[if !IE]> --> <link rel="stylesheet" type="text/css" href="//static.squarespace.com/static/sitecss/507ed8a6e4b0c61b499d1900/1/507ed8ade4b0c61b499d19fb/507ed8ade4b0c61b499d1a18/192/1349908913172/site.css?"/> <!-- <![endif]-->
    <!-- End of Squarespace Headers -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
<div class='navbar navbar-static-top' id='main-nav'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='logo' href='/' title='Paratu homepage'>
                <img width="30" height="30" src="/images/Logo.png" />
            </a>
            <div class='pull-right'>
                <a class='btn btn-success' href='/reg' title='Create a new Paratu account'>注册</a>
                <a class='btn btn-inverse' href='/signin' title='Log in to Paratu'>登录</a>
            </div>
            <div class='nav-collapse collapse'>
                <ul class='nav'>
                    <li class=''><a href='/'>主页</a></li>
                    <li class=''><a href='/pricing/'>产品介绍</a></li>
                    <li class=''><a href='/why/'>联系我们</a></li>
                    <li class=''><a href='/success-stories/'>论坛</a></li>
                    <li class=''><a href='/faq/'>咨询</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- body%>


<footer id='footer'>
    <div class='container'>
        <div class="sqs-layout sqs-grid-12 columns-12" data-type="block-field" data-updated-on="1389021077964" id="footer-blocks"><div class="row sqs-row"><div class="col sqs-col-3 span-3"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-4c8b31c59a2c4494c3b7"><div class="sqs-block-content"><h4 id="navigate">Navigate</h4>
            <ul class="unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/tour">Feature Tour</a></li>
                <li><a href="/pricing">Pricing &amp; Signup</a></li>
                <li><a href="/why">Why Fleetio?</a></li>
                <li><a href="/faq">Frequently Asked Questions</a></li>
                <li><a href="/testimonials">Customer Testimonials</a></li>

            </ul></div></div></div><div class="col sqs-col-3 span-3"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-4e09efdd0696f0a54536"><div class="sqs-block-content"><h4 id="more">More</h4>

            <ul class="unstyled">
                <li><a href="http://help.fleetio.com/">Help Center</a></li>
                <li><a href="/roi">ROI Calculator</a></li>
                <li><a href="/fleet-management-software">Fleet Management Software</a></li>
                <li><a href="/vehicle-maintenance-software">Vehicle Maintenance Software</a></li>
                <li><a href="/cloud">Cloud-based Software</a></li>
            </ul>

            <h4 id="integrate">Integrate</h4>

            <ul class="unstyled">
                <li><a href="/fuel-cards">Fleet Fuel Cards</a></li>
                <li><a href="/vhm">OBD-II Vehicle Health Monitor (VHM) Devices</a></li>
            </ul></div></div></div><div class="col sqs-col-2 span-2"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-4852e55b8a7f79411af3"><div class="sqs-block-content"><h4 id="company">Company</h4>

            <ul class="unstyled">
                <li><a href="/about">About</a></li>
                <li><a href="/jobs">Jobs</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul></div></div></div><div class="col sqs-col-4 span-4"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-34ab4d2452e480130a17"><div class="sqs-block-content"><h4 id="getintouch">Get in touch</h4>

            <ul class="unstyled">
                <li>
                    <i class="icon-envelope icon-white"></i>
                    <a href="/contact">Email us</a>
                </li>
                <li style="color: #ffffff">1-800-975-5304</li>
            </ul>

            <h5 id="subscribetoournewsletter">Subscribe to our newsletter</h5>

            <div class="row-fluid">
                <div class="span12">
                    <form action="http://rarestep.createsend.com/t/j/s/jdntt/" class="form-inline" method="post">
                        <input class="span8" name="cm-jdntt-jdntt" placeholder="Your email address" type="email">
                        <button class="btn btn-info" type="submit">Subscribe</button>
                    </form>
                </div>
            </div></div></div></div></div></div>
    </div>
    <div id='footer-floor'>
        <div class='container'>
            <div class="sqs-layout sqs-grid-12 columns-12" data-type="block-field" data-updated-on="1388757403555" id="footer-floor-blocks"><div class="row sqs-row"><div class="col sqs-col-12 span-12"><div class="sqs-block markdown-block sqs-block-markdown" data-block-type="44" id="block-94ebe6ef6ecaa7b7f269"><div class="sqs-block-content"><p>
                &copy; 2014 <a href="http://www.rarestep.com">Rarestep Inc.</a> All rights reserved.
                <a href="/terms">Terms</a> and <a href="/privacy">Privacy Policy</a>.
            </p></div></div></div></div></div>
        </div>
    </div>
</footer>


</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
</html>
