
<div class="panel">
    <div class="panel-body">
        <span style="font-size:80px; vertical-align: middle " >If </span>
        <img src="<%- triggerImg%>" alt="..." class="img-rounded">
        <span style="font-size:80px; vertical-align: middle"> Then </span>
        <img src="<%- responseImg%>" alt="..." class="img-rounded">
    </div>
</div>
