<div class="col-md-5 dscRecipe">
<div class="panel ">
    <div class="panel-body">
        <img src="/images/ifttt/Timer.png" alt="..." class="img-rounded">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <img src="/images/ifttt/airCondition.png" alt="..." class="img-thumbnail">
    </div>
    <div class="panel-footer">在指定时间关闭空调电源</div>
</div>
</div>