<input name="recipeRecurrence" hidden value="recipeRecurrence">

<div class="container-fluid">

    <ul class="unstyled">
        <li>
            <input tabindex="8" type="radio" id="Oth_OnlyOnce" name="Oth_selectPeriod" value="OnlyOnce" checked>
            <label for="Oth_OnlyOnce">单次执行</label>

            <div class="panel-body" id="Oth_divOnlyOnce" hidden>
                <div class="input-append date form_datetime" id="Oth_dateTimePicker" >
                    <input id="Oth_inputDateTime" size="20" type="text" value="" readonly>
                    <span  class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </li>
        <br>
        <li>
            <input tabindex="8" type="radio" id="Oth_MultiTimes" name="Oth_selectPeriod" value="MultiTimes">
            <label for="Oth_Recurrence">多次循环</label>

            <div class="panel-body"  id="Oth_divMultiTimes" hidden>
                <form role="form" class="form-inline" >
                    <div class="form-group">
                        <input id="Oth_cronPlugin" class="form-control" />
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div> <!--End of container-->

<!--script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/icheck.js"></script>
<script type="text/javascript" src="/js/application.js"></script-->
<script type="text/javascript">

    var recipeRec = {rec: "", disRec:""};
    recipeInfoByEdit.recipeRec = recipeRec;
    var action = recipeInfoByEdit.action;

    function isMultiTimesRecipe( cfg ){
        if (cfg.indexOf('*') > -1) {
            return true;
        } else {
            return false;
        }
    }

    function updateRecurrenceInParam( dataStr ){ //{hour, min, recurrence}
        recipeRec.rec = dataStr;
        recipeRec.disRec = dataStr;
    }

    function extractRecFromGlobalParam(){
        recipeRec.rec = recipeInfoByLoad.recipeRec.rec;
        recipeRec.disRec = recipeInfoByLoad.recipeRec.disRec;
    }

    function extractRecFromCurWindow() {
        recipeRec.rec = now();
        recipeRec.disRec = now();
    }

    function initRecParam( action){
        if(action === "create"){
            extractRecFromCurWindow();
        } else { //update
            extractRecFromGlobalParam();
        }
    }

    function divVisibleToggle( recurrence ){
        switch( recurrence ){
            case "OnlyOnce"  :
                $('#Oth_divOnlyOnce').show();
                $('#Oth_divMultiTimes').hide();
                break;
            case "MultiTimes":
                $('#Oth_divMultiTimes').show();
                $('#Oth_divOnlyOnce').hide();
                break;
            default:
                break;
        }
    }


    function initRecWindowInShow(){

        var recurrence;
        if ( isMultiTimesRecipe( recipeRec.rec )) {
            var options = {disTime: "", configTime: ""};
            options.disTime = recipeRec.disRec;
            options.cfgTime = recipeRec.rec;
            $('#Oth_cronPlugin').cronGen(options);
            recurrence = "MultiTimes";
        } else {
            $('#Oth_inputDateTime').val(recipeRec.rec);
            recurrence = "OnlyOnce";
        }
        //update recurrence radio box
        $("#Oth_"+ recurrence).iCheck('check');
        divVisibleToggle( recurrence );
    }

    $(document).ready(function() {
        //Initiate plugin
        $('#Oth_dateTimePicker').datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            startDate: now(),
            pickerPosition: "bottom-left"
        });

        $("#Oth_cronPlugin").cronGen("showTime");

        $("input[name=Oth_selectPeriod]").iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue',
            increaseArea: '20%'
        });
        //end of Initiate plugin

        initRecParam(action); //called only once

        initRecWindowInShow();

        $('#Oth_dateTimePicker').datetimepicker().on("changeDate",function(){
            updateRecurrenceInParam($( '#Oth_inputDateTime').val() );
        });

        $('#Oth_cronPlugin').change( function(){
            //alert($('#cronPlugin').cronGen('disValue'));
            //alert($('#cronPlugin').cronGen('cfgvalue'));
            updateRecurrenceInParam($(this).val());

        });

        $('input[name=Oth_selectPeriod]').on('ifClicked', function(event){
            divVisibleToggle($(this).val());
        });
    });

</script>


